<form method="post">
  <div class="mb-3">
    <label for="inputUsername" class="form-label">Username (only letters and numbers):</label>
    <input type="text" class="form-control" name="username" id="inputUsername">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password (not less than 8 chars):</label>
    <input type="password" class="form-control" name="password" id="inputPassword">
  </div>
  <label for="roleSelect" class="form-label">Role:</label>
  <select name="role" id="roleSelect"class="form-select" aria-label="Role select">
    <option selected value="student">Student</option>
    <option value="teacher">Teacher</option>
  </select>
  <button type="submit" class="btn btn-success mt-5">Register</button>
</form>