<!DOCTYPE html>
<html>
<head>
	<title>Student <%= student.id %> Page</title>
</head>
<body>
	<h1>Student <span><%= student.id %></span> Home Page</h1>
	<p>Welcome, Student <span><%= student.id %></span>!</p>
</body>
</html>
